# hidden files
.*
!.git*
!.editorconfig
!.nojekyll
!.travis.yml

# bundler cache
_site
vendor

# rubygem
*.gem

# npm dependencies
node_modules
package-lock.json
base_metrics_pusher/get_all_files.go
base_metrics_pusher/get_all_clients.go
base_metrics_pusher/main
base_metrics_pusher/main.zip
metrics_pusher/main
metrics_pusher/main.zip
metrics_pusher/metrics_pusher
